

<p style="text-align:center;"><img src="http://localhost/fitpro.png" alt="Fitpro Inc" width="300" height="300" ></p>



<style >h1 {text-align: center};</style>
<h1 style="text-align: center; font-weight: bolder; font-size: xx-large;">Fitpro Inc.</h1>

<p><span style="font-size: 24px">FitPro Inc. (Innovative Retail Concepts Private Limited) is India’s largest online food and grocery store. With over 18,000 products and over a 1000 brands in our catalogue you will find everything you are looking for. Right from fresh Fruits and Vegetables, Rice and Dals, Spices and Seasonings to Packaged products, Beverages, Personal care products, Meats – we have it all.
    Choose from a wide range of options in every category, exclusively handpicked to help you find the best quality available at the lowest prices. Select a time slot for delivery and your order will be delivered right to your doorstep, anywhere in Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Noida, Mysore, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore and Chandigarh Tricity You can pay online using your debit / credit card or by cash / sodexo on delivery.
    We guarantee on time delivery, and the best quality!</span></p>
    
<p><span style="font-size: 24px">Fitpro began as a tech startup company, founded in October 2011 by five entrepreneurs who had survived the dot-com crash of the early 2000's. The startup was initially funded by private equity investor Ascent Capital (Bangalore) with a capital injection of $10 million.[8]

    By mid-2016, Fitpro was operating in eight large Indian cities and had grown to become India's biggest e-grocer.[8] The company's unique selling point was delivery of fresh produce, based on the purchase of fruit and vegetables from local marketplaces each morning, storage in refrigerated warehouses and a fleet of temperature-controlled trucks to deliver fresh to the door.[8]
    
    China's Alibaba Group led a $300 million funding round in early 2018 to become the main shareholder in the company,[2] taking the online grocer's valuation up to $950 million.[8] By May 2019, Big was operating across 25 Indian cities,[2] and became India's newest 'unicorn' (a startup valued at more than $1 billion) by raising $150 million in a new funding round led by Mirae Asset-Naver Asia Growth Fund, the CDC Group and Alibaba.[10]
    Basket
    The company was valued at around $1.85 billion in May 2021. Demand for online grocery shopping increased considerably in the wake of the COVID-19 pandemic and by the start of 2022, Fitpro was processing over 7 million orders per month.</span></p>

