<style >h1 {text-align: center};</style>
<h1 style="text-align: center; font-weight: bolder; font-size: xx-large;">Fitpro Inc.</h1>
<mat-toolbar class="menu-bar">
    <!-- <span class="title"> ABC Tech</span>  -->
    <ul>
        <li><a (click)="navigate('')">Food Products</a></li>
        <li><a (click)="navigate('about')">About Us</a></li>
        <li><a (click)="navigate('nutchart')">Nutritional Chart</a></li>
        <li><a (click)="navigate('help')">Help</a></li>
        <li><a (click)="navigate('diet')">Diet Plans</a></li>


        


        <!-- <li><a routerLink="/diet">Dietary plans</a></li>
        <li><a routerLink="/help">Help</a></li>
        <li><a routerLink="/nutrition">Nutritional Chart</a></li>
        <li><a routerLink="/aboutus">About us</a></li> -->

    </ul>

</mat-toolbar>